body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    color: #bb3e03;
    font-variant: small-caps slashed-zero;
}

h2 {
    color: #ee9b00;
    font-variant: small-caps slashed-zero;
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    border-bottom: 1px solid black;
    background-color: #94d2bd;
}

nav a {
    color: white;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
}

main {
    padding: 16px;
    margin-bottom: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

footer {
    padding: 24px 0px;
    background-color: #0a9396;
    font-size: 14px;
    color: white;
}

a:hover {
    color: #005f73;
}

div a {
    text-decoration: none;
    color: #e9d8a6;
    font-variant: small-caps slashed-zero;
}

.background-color tbody tr:nth-child(even) {
    background-color: #ced4da;
}
